banned-ips.json
banned-players.json
.git/
crash-reports/
defaultconfigs/
essential/
journeymap/
logs/
libraries/
mod_data/
.gitignore
minecraft_server.1.16.5.jar
world/
eula.txt
forge-1.19.4-45.1.0-installer.jar
ops.json
run.bat
server.properties
user_jvm_args.txt
usercache.json
usernamecache.json
whitelist.json